<!DOCTYPE html>
<html>
	<head>
		<title>
			Amish Amor&eacute;
		</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<header>
			<h1>
				Amish Amor&eacute;
			</h1>
			<table>
				<tr>
					<th>
						<a href="./index.html">
							Home
						</a>
					</th>
					<th>
						<a href="./about.html">
							About
						</a>
					</th>
					<th>
						<a href="./chat.html">
							Chat
						</a>
					</th>
				</tr>
			</table>	
		</header>

		<article>
			<h2>
				Chat
			</h2>
			<div id="chat">

			</div>
			<input type="text" name="chartBar">
			<input type="submit" name="Submit">	
		</article>
		
		<footer>
			<h4>
				&copy; Amish Amor&eacute; Inc.				
			</h4>
			<p>
				Morgan Brenner,
				Jonathan Capalbo,				
				Connor McGullum (Total Steezer),
				Sara Dos Santos,
				Kah Soon Yap
			</p>
		</footer>
	</body>
</html>