<!DOCTYPE html>
<html>
	<head>
		<title>
			Amish Amor&eacute;
		</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<header>
			<h1>
				Amish Amor&eacute;
			</h1>
			<table>
				<tr>
					<th>
						<a href="./index.html">
							Home
						</a>
					</th>
					<th>
						<a href="./about.html">
							About
						</a>
					</th>
					<th>
						<a href="./chat.html">
							Chat
						</a>
					</th>
				</tr>
			</table>	
		</header>

		<aside>
			<h2>
				Testimonies
			</h2>
			<h4>
				"Had more chickens than advertised. 6/6" - Bertha
			</h4>
			<h4>
				"Zooweemama" - Ralph
			</h4>
			<h4>
				"He knew how to plow the fields! Best website!" - Miriam
			</h4>
		</aside>

		<article>
			<img src="../static/horse.png" alt="horse"> <!-- made by Philip Glenn of the Noun Project -->
			<img src="../static/chase.png" alt="chase"> <!-- made by Karina Mistry of the Noun Project -->
			<br>
			<img src="../static/AmericanGothic.png" alt="AmericanGothic">
			<br>
			<h3>
				Why Amor&eacute;?
			</h3>
			<p>
				Well, I'll tell you why. It all started in the library. We thought it would be funny to make a pointless website, but also bring people together at the same time. That last part was made up. This website is gonna look much cooler when it's done. I hope so at least.
			</p>
		</article>

		<footer>
			<h4>
				&copy; Amish Amor&eacute; Inc.
			</h4>
			<p>
				Morgan Brenner,
				Jonathan Capalbo,				
				Connor McGullum (Total Steezer),
				Sara Dos Santos,
				Kah Soon Yap
			</p>
		</footer>
	</body>
</html>